body{
    margin: 0;
    padding: 0;
    background-color: #21D4FD;
    background-image: linear-gradient(34deg, #21D4FD 0%, #B721FF 100%);
    
}
.container{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    width: 100vw;
}
.weather{
    height: 70vh;
    width: 40vw;
    background-color:aqua;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  backdrop-filter: blur(8px);
  background-color: rgba(32, 32, 32, 0.144);
border-radius: 10px;
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    justify-content: center;
    box-shadow: 8px 10px 43px -12px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 10px 43px -12px rgba(0,0,0,1);
    -moz-box-shadow: 8px 10px 43px -12px rgba(0,0,0,1);
    border: 1px solid rgba(250, 230, 230, 0.11);
}
.weatherInfo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: rgb(236, 206, 206);
}